/* made with love by melo, edited by iltaa */
/* most of the css taken from hkmori.neocities.org */

@font-face {
  font-family: 'MapleMono';
  src: url('./fonts/MapleMono-Regular.ttf.woff2') format('woff2');
}

body {
  background-color: black;
  color: white;
  font-family: Verdana;
  text-align: center;
  margin: 0px;
}
html {
  height: 100%;
}
.muchlove {
  background-image: url("bg.jpg");
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  display: inline-block;
}
.muchlove img {
object-fit: fill;
display: inline-block;
width: 100%;
max-height: 500px;
max-width: 421px;
}
.links {
  margin-bottom: 10px;
  font-family: 'MapleMono';
  font-style: normal;
}
.links a {
color: #d9d9d9;
text-decoration: none;
  transition: all .4s ease-out;

}
.links a:hover {
  color: grey;
  filter: blur(0.7px);
}
.footer {
height: 90px;
display: block;
position: absolute;
bottom: 0;
width: 100%;
}
.footer img {
  max-height: 75px;
  margin-top: 8px;
}

.hellopersonreadingthecode {
    font-family: 'MapleMono';
    font-style: normal;
    font-size: 140%;
}

.loveu {
    font-family: 'MapleMono';
    font-style: italic;
}

/* aa